body {
background-image: url('/styles/images/recruithome.jpg');
background-color: #F0FFFF;
font-family:Arial, Helvetica, sans-serif;
color:#4682B4;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom;
background-size: 70% 70%;
}
.header {
  text-align: center;
  background: #F0FFFF;
  color:#4682B4;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

a.active,.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #708090;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 18px;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: inherit;
}

.dropdown-content a:hover {
  background-color: #C0C0C0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
}

.rights {
  font-size: 10px;
  color: white;
  text-align: right;
}

.abc {
	text-align: center;
	color:#483D8B;
	font-size: 50px;
	font-style: italic;
	font-family:Arial, Helvetica, sans-serif;
}