<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css/add.css}" rel="stylesheet" />
</head>
<body>
<div class="center">
<p>The email id and password entered are wrong.</p>
<p>If you are a new user please register yourself first <a href="/addUser">Sign-up</a></p>
<p>If you have entered a wrong email id or password please sign in again with the correct mail id and password.<a href="/showMessage">Sign-in</a></p>
</div>
</body>
</html>