<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css/add.css}" rel="stylesheet" />
</head>
<body>

<div class="center">
<form action="#" th:action="@{/showMessage}" th:object="${user}" method="post">
  <h3 class="align">Candidate details</h3>
  <label for="email">Email:</label>
  <input type="text" id="email" th:field="*{email}">
  &nbsp;
  <label for="pswd">Password:</label>
  <input type="password" id="pswd" th:field="*{pswd}"><br><br>
  <div class="buttonHolder">
        <input type="submit" value="Submit"/>
    </div>     
  <div class="signin"><a href="/forgotpswd">Forgot passord?</a></div>
  </form>
  </div>
</body>
</html>