<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css/add.css}" rel="stylesheet" />
</head>
<body>

<h1>Confirm Details:</h1>
<div class="center">
<p th:text="'First name: ' + ${user.fname}"></p>
<p th:text="'Last name:  ' + ${user.lname}"></p>
<p th:text="'Email:  ' + ${user.email}"></p>
<p th:text="'Address:  ' + ${user.addr}"></p>
<p th:text="'Gender:  ' + ${user.gender}"></p>
<p th:text="'Country:  ' + ${user.Country}"></p>
<p th:text="'County:  ' + ${user.County}"></p>
  <div class="buttonHolder">
<a href="/addUser">Change details</a>
&nbsp;&nbsp;&nbsp;
<a href="/upload.html">Next</a>
</div>
</div>
</body>
</html>