<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css/add.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/formauth.js}"></script>
</head>
<body>
<div id ="upload">
<div class="center">
<form action="#" name ="uploadform" onsubmit="return checkform()">
  <label for="myfile">CV:</label><br><br>
  <input type="file" id="myfile" name="myfile" ><br><br><br>
   <div id ="myfile1" class= "valtext"></div>
   <label for="mycover">Cover Letter:&nbsp;</label><br><br>
  <input type="file" id="mycover" name="mycover" ><br><br>
  <div id ="cv" class= "valtext"></div> 
  <div class="buttonHolder">
        <input type="submit" value="Submit"/>
    </div>     
</form> 
 </div>  
</div>
</body>
</html>